body {
  text-align: center;
  background: content-box
    radial-gradient(rgb(201, 201, 201), rgb(105, 105, 105));
}

svg {
  border: 2px solid black;
  background-color: rgb(199, 199, 199);
}

.cell:hover {
  cursor: pointer;
  stroke-width: 2px;
  stroke: black;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 14px sans-serif;
  background: rgb(219, 219, 219);
  border: 0px;
  border-radius: 8px;
}

.credits {
  letter-spacing: 3px;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  cursor: pointer;
}
